* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  /* color: #414141;               Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  text-align: center;
}

p  {
text-align: center;
}

.result {
  color: #000000;
  background-color: #F2F2F2;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 450px;
  box-sizing: border-box;
  margin: 10px auto;
  margin-top: -50px
}

.window {
 
  text-align: center;
  width: 600px;
  height: 420px;
  box-sizing: border-box;
  margin: 10px auto;

}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center {
  vertical-align: middle;
  max-width: 280px;
  max-height: 230px;
  padding-left: 5px;
  }

button {
  background-color: #D8D8D8;
  text-align: center;
  margin-top: 20px;
  padding: 8px;
  width: 150px;
}

input {
  text-align: center;
  padding: 10px;
  width: 270px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

